.title {
    font-size: 36px;
    background-image: url(https://marketplace.canva.com/EAFCO6pfthY/1/0/800w/canva-blue-green-watercolor-linktree-background-uZtwBmdoPsE.jpg);
    width: 1500;
    padding-bottom: 1px;
    padding-top: 20px;
}

#nickname {
    padding-left: 730px;
    font-size: 58px;
}

body {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470);
}

#name {
    padding-left: 605px;
}

#resume {
    margin-left: 600px;
}

.kmitl {
    width: 1500px;
    height: 50px;
    margin-top: 20px;
    color: orange;
    border: 4px solid black
}


.ig {
    width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 715px;
    border: 4px solid black
}

#it {
    margin-left: 580px;
    margin-bottom: 30px;
}