#websiteTitle {
    font-size: 100px;
    color: black;
    font-weight: 200;
    margin-left: 700px;
}

#name {
    margin-left: 630px;
    font-size: 70px;
}
.redtext {
    color: black;
    font-weight: 200;
    margin-left: 600px;
}


#third {
    font-size: 10px;
    
}

span{
    font-size: 64px;
}

.lll {
    border: 50px;
    font-size: 50px;
    margin-left: 1200;

}

#nickname {
    margin-left: 900px;
}

body {
    background-color: gray;
}